# dependencies
/node_modules

# testing
/coverage

# next.js
/.parcel-cache/
/out/

# production
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

__WORKSPACE/
package-lock.json
public/songs/