html,
body {
  color: black;
  background-color: white;
}

main {
  position: relative;
  max-width: 800px;
  margin: 0px auto;
}

.auto-scroll {
  position: fixed;
  top: 8px;
  right: 8px;
}

.back {
  display: block;
  font-size: x-large;
  margin-bottom: 16px;
}

.song {
  white-space: pre-wrap;
}

sup {
  color: blue;
  font-weight: bold
}

.comment {
  display: block;
  color: gray;
  font-style: italic;
  font-size: smaller;
}