@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

#root,
.page-router {
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid green;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.content {
  max-width: 800px;
  margin: 0px auto;
  padding-left: 16px;
  padding-right: 16px;
}

main .content {
  position: relative;
  padding-top: 67px;
  padding-bottom: 32px;
}

nav a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

nav a span {
  margin-left: 16px;
  text-decoration: none;
}

nav .logo {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0px;
  padding: 0px;
  background-image: url(/public/icon.png?width=64&height=64);
  background-image: image-set(url(/public/icon.png?as=webp&width=64&height=64) 1x,
      url(/public/icon.png?as=webp&width=128&height=128) 2x,
      url(/public/icon.png?as=webp&width=192&height=192) 3x);
  background-position: center center;
  background-repeat: no-repeat;
}

.page-router {
  overflow-x: hidden;
}

.page-animation {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.page-animation.active {
  opacity: 1;
  transform: translateX(0%);
}

.page-animation.active.new {
  animation: translateIn 0.5s ease-in-out;
}

.page-animation.back {
  opacity: 0;
  transform: translateX(0%);
  pointer-events: none;
}

.page-animation.forward {
  opacity: 1;
  transform: translateX(100%);
  pointer-events: none;
}

@keyframes translateIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

label {
  display: inline-block;
  margin-right: 32px;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 4px 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 16px;
}

.auto-scroll {
  position: fixed;
  z-index: 10;
  top: 80px;
  right: 32px;
}

.next-song {
  position: fixed;
  z-index: 9;
  bottom: 8px;
  right: 32px;
  padding: 4px 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(220, 220, 220);
  transition: 0.3s;
}

.next-song:hover {
  background-color: rgb(100, 197, 100);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.9);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ranking {
  height: 16px;
  background-image: url(/public/star.svg);
  background-position: left center;
  background-repeat: repeat-x;
  background-size: contain;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.3);
}

table tr:hover {
  background-color: rgba(64, 197, 64, 0.3);
}

table thead {
  background-color: rgba(64, 197, 64, 0.3);
}

table td,
table th {
  text-align: left;
  padding: 2px 4px;
  border: 1px solid gray;
}

.book-title {
  margin-top: -16px;
  padding: 0px;
  color: gray;
  font-style: italic;
  font-size: smaller;
}

.song {
  white-space: pre-wrap;
}

sup {
  color: blue;
  font-weight: bold;
}

.comment {
  display: block;
  color: gray;
  font-style: italic;
  font-size: smaller;
}